@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy&display=swap');

.flex-container {
    display: flex;
}

.navbar {
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 10px;
}

.logo{
    height: 90%;
}

.navlinks {
    justify-content: space-between;
}

.navlinks a {
    margin: 5px 10px 0 10px;
    color: #5c433f;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.jumbotron {
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 400px;
}

.jumbotron h2 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 400;
}

.featured {
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.products {
    flex-flow: row nowrap;
}

.product img {
    margin: 6px;
    vertical-align: middle;
}

.product {
    background-color: #EEDDCD;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2px 2px;
    width: 32%;
}